html, body {
  height: 100%;
}

.expander {
  /* navbar(50px + 1px border + 20px bottom pad) + footer row (50px + 10px margin)*/
  height: calc(100% - 131px);
}

.navbar {
  background-color: #3F484F;
}

.navbar-default .navbar-brand {
  color: #E7E7E7;
  font-weight: bold;
}

.line-50 {
  line-height: 50px;
}

.footer {
  min-height: 50px;
}

@media (max-width: 768px) {
 .col-xs-12.text-left, .col-xs-12.text-right {
    text-align: center;
  }
}
