.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.row-centered {
  text-align:center;
}

.bg-blue {
  background-color: #428bca;
}

.bg-green {
  background-color: #5cb85c;
}

.bg-grey {
  background-color: #f9f9f9;
}

.album-green {
  background-color: green;
}

.jumbotron {
  padding-top: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron .container img{
  max-width: 300px;
  padding-bottom: 1rem;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
  text-align: center;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
